<div class="row">
    <div class="col-lg-12">
    	<div class="page-header">
    		<h1 class="pull-left" ng-show="!type">Transactions</h1>
            <h1 class="pull-left" ng-show="type == 'renewals'">List of Accounts to Expire</h1>
    		<div class="pull-right">
    			<div class="btn-group">
    				<a ng-click="showCreateNewTransactionForm()" class="btn btn-primary btn-md" title="New Transaction">
		    			<span class="glyphicon glyphicon-plus"></span>
		    		</a>
                    <!--a ui-sref="addOrder" class="btn btn-primary btn-md" title="New Transaction">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a-->
		    		<a href="#" class="btn btn-primary btn-md" title="Generate Transaction History" print-button>
		    			<span class="glyphicon glyphicon-print"></span>
		    		</a>
    			</div>
    		</div>
    		<div class="clearfix"></div>
    	</div>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="dataTable_wrapper">
            <div class="pull-right">
                <div class="col-lg-12">
                    <input class="form-control input-sm" id="max-date" range-filter />
                </div>
            </div>
            <div class="pull-right">
                <div class="col-lg-12">
                    <input class="form-control input-sm" id="min-date" range-filter />
                </div>
            </div>
            <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Payor</th>
                        <th>Deceased Name</th>
                        <th>Sales</th>
                        <th>VAT (12%)</th>
                        <th>Amount</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in orders">
                        <td>{{ order.id }}</td>
                        <td>{{ order.orderDate | date : 'dd MMM yyyy' }}</td>
                        <td>{{ order.respondentFirstName }} {{ order.respondentLastName }}</td>
                        <td>{{ order.deceasedFirstName }} {{ order.deceasedLastName }}</td>
                        <td>{{ order.sales | number : 2 }}</td>
                        <td>{{ order.vat | number : 2 }}</td>
                        <td>{{ order.amount | number : 2 }}</td>
                        <td>{{ order.type != 'Others' ? order.type : order.orderDetails.type }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>